@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7ig8a2');
  src:  url('../fonts/icomoon.eot?7ig8a2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7ig8a2') format('truetype'),
    url('../fonts/icomoon.woff?7ig8a2') format('woff'),
    url('../fonts/icomoon.svg?7ig8a2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
}

h1 {
  color: white;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  margin: 0;
  text-transform: uppercase;
}

h1 strong {
  color: #cb0b2d;
}

h2 {
  color: #d9002c;
}

.header {
  height: 90px;
  background-color: #d6002d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-left span {
  font-size: 20px;
  font-weight: 700;
}

.header .logo {
  height: 90px;
  margin: 0 2em 0 0;
}

.header img {
  height: 100%;
}

.menu {
  height: inherit;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  height: inherit;
  margin: 0;
}

.menu ul li {
  height: inherit;
  margin-left: 30px;
}

.menu a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  height: inherit;
  color: white;
  display: flex;
  align-items: center;
}

.hero {
  background-color: #1b2127;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hero img {
  height: 250px;
  width: 435px;
  object-fit: cover;
}

.anime {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.anime-detail {
  width: 50%;
}

.anime-title {
  margin: 0 0 25px;
  font-size: 30px;
}

.anime-url {
  font-size: 18px;
}

.anime-url a {
  text-decoration: none;
  color: #d9002c;
  font-weight: 700;
}

.anime-imgContainer {
  width: 50%;
  margin: 0;
}

.anime-image {
  width: 100%;
}

.mangaTitle {
  margin-left: 10px;
}

.manga-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.manga {
  background-color: #f4fbff;
  width: 48%;
  margin: 1%;
  border-radius: 5px;
  overflow: hidden;
  flex-shrink: 0;
}

.manga figure {
  width: 100%;
  margin: 0;
}

.manga img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.manga-details {
  background-color: white;
  margin: 20px;
  margin-top: -40px;
  padding: 20px;
  text-align: center;
  position: relative;
}

.manga-description {
  text-align: left;
}

.manga-url {
  text-decoration: none;
  color: #026fff;
  border: 1px solid;
  padding: 5px 30px;
  border-radius: 5px;
  margin-top: 10px;
}

.nakama {
  background-color: #4b77b5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 150px;
}

.nakama h3 {
  margin: 10px 0;
}

.nakama input {
  display: block;
  padding: 10px 0 10px 30px;
  background-image: url("../img/envelope.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: 5px;
  background-position-y: 10px;
  border-radius: 5px;
}

.nakama button {
  margin: 10px 0;
  background-color: transparent;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.social-link {
  font-size: 50px;
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

.footer {
  background-color: #1b2127;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer img {
  height: 60px;
  vertical-align: middle;
  padding: .5em 0;
}

.footer p {
  margin: 0;
}

.footer a {
  color: white;
}

.container {
  max-width: 1000px;
  flex: 1;
  margin: 0 auto;
  height: inherit;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: inherit;
}

@media screen and (max-width: 1023px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {
  
}